h2{
    background-color: white;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input
{
    color: blue;
}
p{
    color: rgb(13, 113, 16);
}
.R{
    color: chartreuse;
}
.A{
    background-color: olivedrab;
}